<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SlabZeroLowerVal" value="0"/>
    <add key="SlabZeroUpperVal" value="18200"/>
    <add key="SlabZeroExemptIncome" value="0"/>
    <add key="SlabZeroTax" value="0"/>
    <add key="SlabZeroBaseTax" value="0"/>


    <add key="SlabOneLowerVal" value="18201"/>
    <add key="SlabOneUpperVal" value="37000"/>
    <add key="SlabOneExemptIncome" value="18200"/>
    <add key="SlabOneTax" value=".19"/>
    <add key="SlabOneBaseTax" value="0"/>

    <add key="SlabTwoLowerVal" value="37001"/>
    <add key="SlabTwoUpperVal" value="80000"/>
    <add key="SlabTwoExemptIncome" value="37000"/>
    <add key="SlabTwoTax" value=".325"/>
    <add key="SlabTwoBaseTax" value="3572"/>


    <add key="SlabThreeLowerVal" value="80001"/>
    <add key="SlabThreeUpperVal" value="180000"/>
    <add key="SlabThreeExemptIncome" value="80000"/>
    <add key="SlabThreeTax" value=".37"/>
    <add key="SlabThreeBaseTax" value="17547"/>


    <add key="SlabFourLowerVal" value="180001"/>
    <add key="SlabFourUpperVal" value="Maximum"/>
    <add key="SlabFourExemptIncome" value="180000"/>
    <add key="SlabFourTax" value=".45"/>
    <add key="SlabFourBaseTax" value="54547"/>
  </appSettings>
</configuration>